{%- comment -%}
  Parameters
  * link_text
  * link_url
  * link_style
  * link_tag
  * attr
  * class
{%- endcomment -%}
{% liquid
  if link_style == 'dark'
    assign link_class = 'btn-dark'
  elsif link_style == 'alt'
    assign link_class = 'btn-alt'
  else
    assign link_class = 'btn-light'
  endif

  if class
    assign link_class = link_class | append: ' ' | append: class
  endif
%}

{% if link_tag and link_tag != 'a' %}
  <{{ link_tag }}
    class="{{ link_class | strip_newlines | strip }}"
    {{ attr }}
    {% if onclick %}onclick="{{ onclick }}"{% endif %}
  >{{- link_text -}}</{{ link_tag }}>
{% else %}
  <a href="{{- link_url -}}" class="{{ link_class | strip_newlines | strip }}" {{ attr }}>{{- link_text -}}</a>
{% endif %}
