{% liquid
  if order != blank
    assign completed_order = true
    assign subtotal = order.subtotal_price | money
    assign discount_applications = order.discount_applications
    if order.shipping_price == 0
      assign shipping = '&mdash;'
    else
      assign shipping = order.shipping_price | money
    endif
    assign tax = order.tax_price | money
    assign total = order.total_price | money
  else
    assign subtotal = cart.total_price | money
    assign discount_applications = cart.cart_level_discount_applications
  endif
%}

<div class="px-sm">
  <!-- Start blocks-->
  <!-- Subtotals-->

  <div {{ block.shopify_attributes }}>
    <div role="status">
      <h2>{{ 'sections.cart.subtotal' | t }}</h2>
      <p>{{ subtotal }}</p>
    </div>

    <div>
      {%- if discount_applications.size > 0 -%}
        <ul role="list" aria-label="{{ 'customer.order.discount' | t }}">
          {%- for discount in discount_applications -%}
            <li>
              {{ discount.title }}
              (-{{ discount.total_allocated_amount | money }})
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>

    {% if completed_order %}
      <div>
        <h2>Shipping</h2>
        <p>{{ shipping }}</p>
      </div>
      <div>
        <h2>Taxes</h2>
        <p>{{ tax }}</p>
      </div>
    {% else %}
      <small>
        {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
          {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
        {%- elsif cart.taxes_included -%}
          {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
        {%- elsif shop.shipping_policy.body != blank -%}
          {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
        {%- else -%}
          {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
        {%- endif -%}
      </small>
    {% endif %}
  </div>

  {% if completed_order %}
    <div>
      <h2>Total</h2>
      <p>{{ total }}</p>
    </div>
  {% else %}
    <!-- CTAs -->

    <div {{ block.shopify_attributes }}>
      <noscript>
        <button type="submit">
          {{ 'sections.cart.update' | t }}
        </button>
      </noscript>

      <button type="submit" id="CartDrawer-Checkout" name="checkout" {% if cart == empty %} disabled{% endif %}>
        {{ 'sections.cart.checkout' | t }}
      </button>
    </div>
  {% endif %}
</div>
