{% liquid
  assign class = 'flex relative'
  unless completed_order
    assign class = class | append: ' px-sm'
  endunless
%}
<cart-item data-key="{{ item.key }}" class="{{ class }}">
  <div class="relative w-[134px] h-[134px]">
    <a href="{{ item.url }}" tabindex="-1" aria-hidden="true" class="absolute inset-0 z-10"></a>
    {% render 'responsive-image', image: item.image, class: "relative w-[134px] h-[134px]", max_width: 134 %}
  </div>
  <div class="flex flex-col">
    <div>
      <a href="{{ item.url }}">{{ item.product.title | escape }}</a>
      {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
        <dl>
          {%- if item.product.has_only_default_variant == false -%}
            {%- for option in item.options_with_values -%}
              <div class="inline-block">
                <dt class="inline">{{ option.name }}: </dt>
                <dd class="inline">{{ option.value }}{% unless forloop.last %}, {% endunless %}</dd>
              </div>
            {%- endfor -%}
          {%- endif -%}

          {%- for property in item.properties -%}
            {%- assign property_first_char = property.first | slice: 0 -%}
            {%- if property.last != blank and property_first_char != '_' -%}
              <div class="inline-block">
                <dt class="inline">{{ property.first }}: </dt>
                <dd class="inline">{{ property.last }}</dd>
              </div>
            {%- endif -%}
            <p>{{ item.selling_plan_allocation.selling_plan.name }}</p>
          {%- endfor -%}
        </dl>
      {% endif %}
    </div>
    {% unless completed_order %}
      {% render 'cart-item-price', item: item %}
      <cart-item-quantity>
        <button name="minus" type="button">
          <span class="sr-only">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
          -
        </button>
        <input
          type="number"
          name="updates[]"
          value="{{ item.quantity }}"
          min="0"
          step="1"
          aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
        />
        <button name="plus" type="button">
          <span class="sr-only">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
          +
        </button>
      </cart-item-quantity>
      <cart-item-remove>
        <a href="{{ item.url_to_remove }}" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
          Remove
        </a>
      </cart-item-remove>
  {% endunless %}
  </div>
</cart-item>
