<div class="{{ class }}">
  {% if input %}
    {{ input }}
  {% else %}
    <input id="{{ id }}" class="inline-block" type="checkbox" name="{{ name }}" />
  {% endif %}
  <label class="inline-block" for="{{ id }}">{{ label }}</label>
</div>
