{% liquid
  comment
    Retrieve original collection to generate full list of filters

  for shop_collection in collections
    if shop_collection.title == collection.title
      assign original_collection = shop_collection
    endif
  endfor
  endcomment

  comment
    Parse active tag-based filters from URL path
  endcomment
  assign path_handle = request.path | split: '/' | last
  if path_handle contains 'filter_'
    assign active_tag_filters = path_handle | split: '+'
  endif
%}
<div data-module="collection-filters">
  <form>
    <select id="sort-by" name="sort_by">
      {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
      {% for option in collection.sort_options %}
        <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
          {{ option.name }}
        </option>
      {% endfor %}
    </select>
    <div class="hidden no-js:block">
      <input type="submit" value="Apply">
    </div>
    {% comment %}
      Loop through "filters" metafield on collection to render tag filters
    {% endcomment %}
    {% for tag_filter_name in collection.metafields.custom.filters.value %}
      {% assign tag_filter_id = tag_filter_name | handleize | prepend: 'tag.filter.' %}
      <details data-slot="{{ tag_filter_id }}">
        <summary>
          <span>{{ tag_filter_name }}</span>
        </summary>
        <ul>
          {% for tag in original_collection.tags %}
            {% liquid
              assign tag_segments = tag | split: '_'

              if tag_segments[0] != 'Filter'
                continue
              endif

              assign tag_label = tag_segments[1]
              assign tag_value = tag_segments[2]
              assign tag_handle = tag | handleize
              assign disabled = false

              unless collection.tags contains tag
                comment
                  Disable tag filter checkbox if tag is not present in filtered collection
                endcomment
                assign disabled = true
              endunless
            %}
            {% if tag_label == tag_filter_name %}
              <li>
                <label for="{{ tag }}">
                <input type="checkbox"
                  name="tag-filter"
                  value="{{ tag_handle }}"
                  id="{{ tag }}"
                  {% if active_tag_filters contains tag_handle -%}checked{%- endif %}
                  {% if disabled -%}disabled{%- endif %}
                >{{ tag_value }}</label>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </details>
    {% endfor %}
    {% for original_filter in collection.filters %}
      {% liquid
        assign filter = original_filter
        assign filter_disabled = true

        for current_filter in collection.filters
          if current_filter.label == filter.label
            assign filter = current_filter
            assign filter_disabled = false
          endif
        endfor
      %}
      <details data-slot="{{ filter.param_name }}">
        <summary>
          <div>
            <span>{{ filter.label }}</span>
            {%- if filter.active_values.size > 0 -%}
              <span>({{ filter.active_values.size }})</span>
            {%- endif -%}
          </div>
        </summary>

        <div>
          <span>{{ filter.active_values.size }} selected</span>
          {%- if filter.active_values.size > 0 -%}
            <a href="{{ filter.url_to_remove }}">Reset</a>
          {%- endif -%}
        </div>

        {%- case filter.type -%}
          {%- when 'boolean' or 'list' -%}
            <ul>
              {%- for filter_value in filter.values -%}
                {% liquid
                  assign filter_value_disabled = filter_disabled

                  if filter_value.count == 0 and filter_value.active == false
                    assign filter_value_disabled = true
                  endif
                %}
                <li>
                  <label for="{{ filter.param_name }}-{{ forloop.index }}">
                  <input type="checkbox"
                    name="{{ filter_value.param_name }}"
                    value="{{ filter_value.value }}"
                    id="{{ filter.param_name }}-{{ forloop.index }}"
                    {% if filter_value.active -%}checked{%- endif %}
                    {% if filter_value_disabled -%}disabled{%- endif %}
                  >{{ filter_value.label }}</label>
                </li>
              {%- endfor -%}
            </ul>
            <div class="hidden no-js:block">
              <input type="submit" value="Apply">
            </div>
          {%- when 'price_range' -%}
            <div>
              <div>
                <span>{{ cart.currency.symbol }}</span>

                <input name="{{ filter.min_value.param_name }}"
                  id="{{ filter.min_value.param_name }}"
                  {% if filter.min_value.value -%}
                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                  {%- endif %}
                  type="number"
                  placeholder="0"
                  min="0"
                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                >
                <label for="{{ filter.min_value.param_name }}">From</label>
              </div>
              <div class="filter-group-display__price-range-to">
                <span>{{ cart.currency.symbol }}</span>
                <input name="{{ filter.max_value.param_name }}"
                  id="{{ filter.max_value.param_name }}"
                  {% if filter.max_value.value -%}
                    value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                  {%- endif %}
                  type="number"
                  placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                  min="0"
                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                >
                <label for="{{ filter.max_value.param_name }}">To</label>
              </div>
            </div>
            <div class="hidden no-js:block">
              <input type="submit" value="Apply">
            </div>
        {% endcase %}
      </details>
    {% endfor %}
    <footer data-slot="collection-filters-footer"">
      <p><a href="{{ collection.url }}?sort_by={{ collection.sort_by }}">Clear all</a></p>
      {%- for filter in collection.filters -%}
        {%- if filter.type == "price_range" -%}
          {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
            <p>
              <a href="{{ filter.url_to_remove }}">
                {%- assign min_value = filter.min_value.value | default: 0 -%}
                {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                {{ min_value | money }} - {{ max_value | money }} X
              </a>
            </p>
          {%- endif -%}
        {%- else -%}
          {%- for filter_value in filter.active_values -%}
            <p>
              <a href="{{ filter_value.url_to_remove }}">
                {{ filter.label }}: {{ filter_value.label }} X
              </a>
            </p>
          {%- endfor -%}
        {%- endif- %}
      {%- endfor -%}
    </footer>
  </form>
</div>
