<product-gallery
  class="relative flex bg-red-500"
>
  <div class="w-[50px] flex-shrink-0">
    {% for image in product.images %}
      <div class="[&[data-focus=true]]:ring-2 [&[data-active=true]]:opacity-100 [&[data-active=false]]:opacity-50">
        <label
          class="block"
          for="selected-media-{{ image.id }}"
        >
          {% render 'responsive-image',
            image: image,
            class: "relative w-[50px] h-[50px] mb-4",
            max_width: 50
          %}
          <span class="sr-only">{{ image.alt }}</span>
        </label>
      </div>
    {% endfor %}
  </div>
  <div class="grow shrink flex justify-center align-top bg-blue-100">
    {% for image in product.images %}
      <div class="relative flex">
        {% liquid
          if forloop.first == true
            assign attr = "checked"
          else
            assign attr = ""
          endif
        %}
        <input
          class="peer sr-only"
          id="selected-media-{{ image.id }}"
          type="radio"
          name="selected-media"
          value="{{ image.id }}"
          {{ attr }}
        />
        <div class="hidden peer-checked:block">
          {% render 'responsive-image',
            image: image,
            max_width: 500,
            class: 'max-w-[500px]'
            object_fit: 'contain'
          %}
        </div>
      </div>
    {% endfor %}
  </div>
</product-gallery>
{% render 'vite-tag' with '@modules/product-gallery' %}
