{% liquid
  assign name = name | default: 'quantity'
  assign min = min | default: 0
  assign step = step | default: 1
  assign value = value | default: 1
%}
<quantity-input class="relative block">
  <button name="minus" type="button" class="w-10 h-10 absolute inset-0 right-auto m-auto">
    <span class="sr-only">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
    -
  </button>
  <input
    class="[&::-webkit-inner-spin-button]:appearance-none px-8 text-center w-full"
    style="-moz-appearance: textfield;"
    type="number"
    name="{{ name }}"
    value="{{ value }}"
    min="{{ min }}"
    step="{{ step }}"
    aria-label="{{ 'products.product.quantity.input_label' | t: product: product.title | escape }}"
  />
  <button name="plus" type="button" class="w-10 h-10 absolute inset-0 left-auto m-auto">
    <span class="sr-only">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
    +
  </button>
</quantity-input>
{% render 'vite-tag' with 'modules/quantity-input/quantity-input.js' %}
