<div class="{{ class }}">
  <label class="block" for="{{ id }}">{{ label }}</label>
  <select
    id="{{ id }}"
    name="{{ name }}"
    class="block w-full"
    {% if required %}required{% endif %}
    {% if default %}data-default="{{ default }}"{% endif %}
  >
    {{ options }}
  </select>
</div>
