{% liquid
  assign type = type | default: 'text'
%}
<div class="{{ class }}">
  <label class="block" for="{{ id }}">{{ label }}</label>
  <input
    class="block w-full"
    id="{{ id }}"
    type="{{ type }}"
    name="{{ name }}"
    value="{{ value }}"
    placeholder="{{ placeholder }}"
    autocomplete="{{ autocomplete }}"
    {% if required %}required{% endif %}
  />
</div>
