{%- comment -%}
  Parameters
  * video
  * video_s
  * video_l
  * fallback
  * fallback_s
  * fallback_l
  * poster
  * class
  * offset
  * attr
  * is_icon
{%- endcomment -%}

{% assign class = '' %}

{%- assign is_icon = is_icon | default: false -%}

{%- capture video_source -%}
  {%- if video != blank -%}
    <source media="(max-width: 767px)" data-src="{{- video -}}" type="video/mp4">
  {%- endif -%}
  {%- if video_s != blank -%}
    <source media="(min-width: 768px) and (max-width: 999px)" data-src="{{- video_s -}}" type="video/mp4">
  {%- endif -%}
  {%- if video_l != blank -%}
    <source media="(min-width: 1000px)" data-src="{{- video_l -}}" type="video/mp4">
  {%- endif -%}
{%- endcapture -%}

{%- unless image_source -%}
  {%- capture image_source -%}
    {%- if fallback != blank -%}
      |{{- fallback -}}
    {%- endif -%}
    {%- if fallback_s != blank -%}
      |{{- fallback_s -}}
    {%- endif -%}
    {%- if fallback_l != blank -%}
      |{{- fallback_l -}}
    {%- endif -%}
  {%- endcapture -%}
  {%- assign image_source = image_source | remove_first: '|' -%}
{%- endunless -%}

{%- unless breakpoints -%}
  {%- capture breakpoints -%}
    {%- if fallback != blank -%}
      |(max-width: 767px)
    {%- endif -%}
    {%- if fallback_s != blank -%}
      |(min-width:768px) and (max-width: 999px)
    {%- endif -%}
    {%- if fallback_l != blank -%}
      |(min-width: 1000px)
    {%- endif -%}
  {%- endcapture -%}
  {%- assign breakpoints = breakpoints | remove_first: '|' -%}
{%- endunless -%}

<div
  data-module="video"
  class="video {{ class }}
  {%- if is_icon -%}
    <div class="video__icon">
      <button
        class="video__play-pause js-control-button"
        aria-label="{{- 'general.video.pause' | t -}}"
        data-play="{{- 'general.video.play' | t -}}"
        data-pause="{{- 'general.video.pause' | t -}}"
        data-playing="true"
      >
        <div class="video__play-pause-icon"></div>
        <div class="video__play-pause-label">{{- 'general.video.pause' | t -}}</div>
      </button>
    </div>
  {%- endif -%}

  <video
    class="video__el absolute inset-0 w-full h-full"
    {% if poster != blank %}
      poster="{{ poster }}"
    {% endif %}
    autoplay
    loop
    muted
    playsinline>
    {{- video_source -}}
  </video>

  {%- if image_source != blank -%}
    {%- render 'picture',
      class: 'video__fallback-image absolute inset-0 w-full h-full',
      sources: image_source,
      breakpoints: breakpoints,
      width: 100,
      width_s: 50,
      width_m: 50,
      width_l: 33,
      loader: false,
    -%}
  {%- endif -%}
</div>
