{% liquid
  assign form_class = 'max-w-xl mx-auto grid'
  assign hidden_form_class = form_class | append: ' hidden'
  assign title_class = 'h2 my-4'
  assign subtext_class = 'p1 mb-4'

  assign first_name_label = 'customer.register.first_name' | t
  assign last_name_label = 'customer.register.last_name' | t
  assign email_label = 'customer.register.email' | t
  assign password_label = 'customer.register.password' | t
  assign submit_label = 'customer.register.submit' | t
%}
{% case template.name %}
  {% when 'register' %}
    {% liquid
      assign first_name_label = 'customer.register.first_name' | t
      assign last_name_label = 'customer.register.last_name' | t
      assign email_label = 'customer.register.email' | t
      assign password_label = 'customer.register.password' | t
      assign submit_label = 'customer.register.submit' | t
    %}
    {% form 'create_customer', class: form_class %}
      <h1 class="{{ title_class }}">{{ 'customer.register.title' | t }}</h1>
      {{ form.errors | default_errors }}
      {% render 'text-input',
        id: 'customer_first_name'
        name: 'customer[first_name]',
        type: 'text',
        label: first_name_label,
        required: true
      %}
      {% render 'text-input',
        id: 'customer_last_name'
        name: 'customer[last_name]',
        type: 'text',
        label: last_name_label,
        required: true
      %}
      {% render 'text-input',
        name: 'customer[email]',
        id: 'customer_email',
        type: 'email',
        label: email_label,
        required: true
      %}
      {% render 'text-input',
        name: 'customer[password]',
        id: 'customer_password',
        type: 'password',
        label: password_label,
        required: true
      %}
      {% render 'checkbox-input',
        name: 'customer[accepts_marketing]',
        id: 'customer_accepts_marketing',
        label: 'Sign me up for the newsletter'
      %}
      {% render 'button',
        link_tag: 'button',
        link_text: submit_label,
        link_style: 'dark',
        attr: 'type="submit"'
      %}
      <p><a href="{{ routes.account_login_url }}">{{ 'customer.log_in' | t }}</a></p>
    {% endform %}
  {% when 'login' %}
    {% liquid
      assign email_label = 'customer.login_page.email' | t
      assign password_label = 'customer.login_page.password' | t
      assign sign_in_label = 'customer.login_page.sign_in' | t
      assign submit_label = 'customer.login_page.submit' | t
    %}
    {% form 'customer_login', class: form_class %}
      <h1 class="{{ title_class }}">{{ 'customer.login_page.title' | t }}</h1>
      {{ form.errors | default_errors }}
      {% render 'text-input',
        name: 'customer[email]',
        id: 'customer_email',
        type: 'email',
        label: email_label,
        required: true
      %}
      {% render 'text-input',
        name: 'customer[password]',
        id: 'customer_password',
        type: 'password',
        label: password_label,
        required: true
      %}
      {% render 'button',
        link_tag: 'button',
        link_text: sign_in_label,
        link_style: 'dark',
        attr: 'type="submit"'
      %}
      <p>
        <account-recover-link>
          <a href="#forgot-password">{{ 'customer.login_page.forgot_password' | t }}</a>
        </account-recover-link>
      </p>
      <p><a href="{{ routes.account_register_url }}">{{ 'customer.login_page.create_account' | t }}</a></p>
      <p><a href="{{ routes.root_url }}">{{ 'general.continue_shopping' | t }}</a></p>
    {% endform %}
    {% form 'recover_customer_password', class: hidden_form_class %}
      <h1 class="{{ title_class }}">{{ 'customer.recover_password.title' | t }}</h1>
      <p class="{{ subtext_class }}">{{ 'customer.recover_password.subtext' | t }}</p>
      {{ form.errors | default_errors }}
      {% render 'text-input',
        name: 'customer[email]',
        id: 'customer_email',
        type: 'email',
        label: email_label,
        required: true
      %}
      {% render 'button',
        link_tag: 'button',
        link_text: submit_label,
        link_style: 'dark',
        attr: 'type="submit"'
      %}
      <account-recover-cancel-link>
        <a href="{{ routes.account_login_url }}">{{ 'customer.login_page.cancel' | t }}</a>
      </account-recover-cancel-link>
    {% endform %}
  {% when 'activate_account' %}
    {% liquid
      assign password_label = 'customer.activate_account.password' | t
      assign password_confirm_label = 'customer.activate_account.password_confirm' | t
      assign submit_label = 'customer.activate_account.submit' | t
      assign cancel_label = 'customer.activate_account.cancel' | t
    %}
    {% form 'activate_customer_password', class: form_class %}
      <h1 class="{{ title_class }}">{{ 'customer.activate_account.title' | t }}</h1>
      <p classs="{{ subtext_class }}">{{ 'customer.activate_account.subtext' | t }}</p>
      {{ form.errors | default_errors }}
      {% render 'text-input',
        name: 'customer[password]',
        id: 'customer_password',
        type: 'password',
        label: 'Password',
        required: true
      %}
      {% render 'text-input',
        name: 'customer[password_confirmation]',
        id: 'customer_password_confirmation',
        type: 'password',
        label: password_confirm_label,
        required: true
      %}
      {% render 'button',
        link_tag: 'button',
        link_text: submit_label,
        attr: 'type="submit"'
      %}
      {% render 'button',
        link_tag: 'button',
        link_text: cancel_label,
        link_style: 'light',
        attr: 'type="submit" name="decline"'
      %}
    {% endform %}
  {% when 'reset_password' %}
    {% liquid
      assign password_label = 'customer.reset_password.password' | t
      assign password_confirm_label = 'customer.reset_password.password_confirm' | t
      assign submit_label = 'customer.reset_password.submit' | t
    %}
    {% form 'reset_customer_password', class: form_class %}
      <h1 class="{{ title_class }}">{{ 'customer.reset_password.title' | t }}</h1>
      <p classs="{{ subtext_class }}">{{ 'customer.reset_password.subtext' | t }}</p>
      {{ form.errors | default_errors }}
      {% render 'text-input',
        name: 'customer[password]',
        id: 'customer_password',
        type: 'password',
        label: password_label,
        required: true
      %}
      {% render 'text-input',
        name: 'customer[password_confirmation]',
        id: 'customer_password_confirmation',
        type: 'password',
        label: password_confirm_label,
        required: true
      %}
      {% render 'button',
        link_tag: 'button',
        link_text: submit_label,
        link_style: 'dark',
        attr: 'type="submit"'
      %}
    {% endform %}
{% endcase %}
{% render 'vite-tag' with '@modules/account-address-form' %}
