<div>
  <div class="max-w-7xl px-responsive mx-auto">
    <nav class="text-center">
      {% if template.name == 'order' %}
        <p><a href="{{ routes.account_url }}">Back to order history</a></p>
      {% else %}
        <ul>
          <li class="inline-block">
            <a href="{{ routes.account_url }}" class="{% if template contains 'account' or template contains 'order' %} underline {% endif %}">{{ 'customer.orders.title' | t }}</a>
          </li>
          <li class="inline-block">
            <a href="{{ routes.account_addresses_url }}" class="{% if template contains 'address' %} underline{% endif %}">{{ 'customer.account.view_addresses' | t }}</a>
          </li>
        </ul>
      {% endif %}
      <p><a href="{{ routes.account_logout_url }}">Log out</a></p>
    </nav>
  </div>
</div>
