{%- capture tracking_number -%}
  {%- if order.line_items[0].fulfillment.tracking_number -%}
    {{- order.line_items[0].fulfillment.tracking_number -}}
  {%- else -%}
    &mdash;
  {%- endif -%}
{%- endcapture -%}
<div class="max-w-7xl mx-auto px-responsive">
  <div class="bg-gray-100 border-b border-gray-200 p-4">
    <h1 class="inline-block font-bold">Order #{{ order.order_number }}</h1>
    <p class="inline-block ml-4">{{ order.created_at | date: '%B %d, %Y at %l:%M%P' }}</p>
  </div>
  <div class="bg-gray-100 p-4">
    <p class="inline-block">{{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}</p>
    <p class="inline-block ml-4">{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</p>
    <p class="inline-block ml-4">{{ 'customer.order.tracking_number' | t }}: {{ tracking_number }}</p>
    <p class="inline-block ml-4">{{ 'customer.order.total' | t }}: {{ order.total_price | money }}</p>
  </div>
</div>
<div class="max-w-7xl mx-auto mb-24 px-responsive">
  <h2 class="h2 my-6">Order Details</h2>
  <table class="w-full">
    <thead class="font-bold border-b border-black">
      <tr>
        <td class="py-2">Item</td>
        <td class="py-2">Price</td>
        <td class="py-2">Quantity</td>
        <td class="py-2">Total</td>
      </tr>
    </thead>
    <tbody>
      {% for item in order.line_items %}
        <tr class="border-b border-gray-200">
          <td><div class="py-8">{% render 'cart-item', item: item, completed_order: true %}</div></td>
          <td>{% render 'cart-item-price', item: item %}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.final_line_price | money }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% render 'cart-footer', order: order %}
</div>
