{% liquid
  assign item_class = "inline-block mr-1 after:content-['/'] after:ml-1 last:after:content-none last:mr-0"
  assign collection = product.collections | first
%}
<div class="max-w-7xl mx-auto px-responsive">
  <ol>
    <li class="{{ item_class }}"><a href="{{ routes.root_url }}">Home</a></li>
    {% if template.name == 'product' %}
      {% if product.collections != blank %}
        <li class="{{ item_class }}"><a href="{{ collection.url }}">{{ collection.name }}</a></li>
      {% endif %}
      <li class="{{ item_class }}">{{ product.title }}</li>
    {% endif %}
  </ol>
</div>
