{% liquid
  if section.blocks.size == 1
    assign grid_cols_class = 'grid-cols-1'
  elsif section.blocks.size == 2
    assign grid_cols_class = 'grid-cols-2'
  else
    assign grid_cols_class = 'grid-cols-3'
  endif

  assign toggle_wrapper_class = "inline-grid grid-cols-2 gap-x-6 " | append: grid_cols_class
%}

<product-grid-toggle data-module="product-grid-toggle" class="block text-center">
  <div>
    {% render 'rich-text', heading: section.settings.heading %}
  </div>
  <div class="{{ toggle_wrapper_class }}">
    {% for block in section.blocks %}
      <label {{ block.shopify_attributes }}>
        <input class="peer" type="radio" name="{{- section.id -}}" value="{{ forloop.index | add: 1 }}" {% if forloop.first %}checked{% endif %}>
        <span class="peer-checked:font-bold">
          {{- block.settings.toggle_text -}}
        </span>
      </label>
    {% endfor %}
  </div>
</product-grid-toggle>
{% for block in section.blocks %}
  {% render 'product-grid', products: block.settings.products %}
{% endfor %}
{% render 'vite-tag' with 'modules/product-grid-toggle/product-grid-toggle.js' %}
{% schema %}
{
  "name": "Product Grid Toggle",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "product-grid",
      "name": "Product Grid",
      "settings": [
        {
          "type": "text",
          "id": "toggle_text",
          "label": "Toggle Text"
        },
        {
          "type": "product_list",
          "id": "products",
          "label": "Products",
          "info": "Select one or more products to feature in this section."
        }
      ]
    }
  ],
  "max_blocks": 3
}
{% endschema %}
