<footer class="bg-gray-200">
  <div class="max-w-7xl mx-auto px-responsive py-24 md:grid md:grid-cols-12">
    <div class="col-span-4">
      <h3>{{ section.settings.about_heading }}</h3>
      <div class="wysiwyg">
        {{ section.settings.about_content }}
      </div>
    </div>
    <div class="col-span-2">
      <h3>{{ section.settings.menu_heading_1 }}</h3>
      <nav>
        {% for link in section.settings.menu_1.links %}
          <div>
            <a href={{ link.url }}>{{ link.title }}</a>
          </div>
        {% endfor %}
      </nav>
    </div>
    <div class="col-span-2">
      <h3>{{ section.settings.menu_heading_2 }}</h3>
      <nav>
        {% for link in section.settings.menu_2.links %}
          <div>
            <a href={{ link.url }}>{{ link.title }}</a>
          </div>
        {% endfor %}
      </nav>
    </div>
    <div class="col-span-4">
      <h3>{{ section.settings.newsletter_heading }}</h3>
      <div class="wysiwyg">
        {{ section.settings.newsletter_content }}
      </div>
      {% render 'newsletter-form' %}
    </div>
  </div>
  <div class="border-t border-gray-300 py-6">
    <div class="max-w-7xl mx-auto px-responsive md:grid md:grid-cols-2">
      <div>
        <p class="p2">© Company Name 2022 • Site by Barrel</p>
      </div>
      <div class="md:text-right space-x-4">
        {% for link in section.settings.menu_bottom.links %}
          <a class="p2" href={{ link.url }}>{{ link.title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>


{% schema %}
{
  "name": "Site Footer",
  "settings": [
    {
      "type": "text",
      "id": "about_heading",
      "label": "About heading"
    },
    {
      "type": "richtext",
      "id": "about_content",
      "label": "About content"
    },
    {
      "type": "text",
      "id": "menu_heading_1",
      "label": "Menu 1 heading"
    },
    {
      "type": "link_list",
      "id": "menu_1",
      "label": "Menu 1"
    },
    {
      "type": "text",
      "id": "menu_heading_2",
      "label": "Menu 2 heading"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Menu 2"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "Newsletter heading"
    },
    {
      "type": "richtext",
      "id": "newsletter_content",
      "label": "Newsletter content"
    },
    {
      "type": "text",
      "id": "copyright_notice",
      "label": "Copyright notice"
    },
    {
      "type": "link_list",
      "id": "menu_bottom",
      "label": "Bottom Menu"
    }
  ]
}
{% endschema %}
