{% liquid
  if section.settings.logo
    assign logo_class = 'h-[35px]'
    assign logo_height = 35
    assign logo_width = logo_height | times: section.settings.logo.aspect_ratio | round
  endif
%}

<site-header class="block border-b" data-module="site-header">
  <a href="#content" class="sr-only focus:not-sr-only">
    Skip to content
  </a>
  {%- if section.blocks != blank -%}
    {% render 'announcement-bar' %}
  {%- endif -%}
  <nav class="max-w-7xl mx-auto" aria-label="Top">
    <div class="w-full px-responsive py-4 sm:py-8">
      <div class="flex items-center">
        <a href="/">
          {% if section.settings.logo %}
            <img
              class="{{ logo_class }}"
              src="{{ section.settings.logo | image_url }}"
              width="{{ logo_width }}"
              height="{{ logo_height }}"
              alt="{{ shop.name }}"
              loading="lazy"
            />
          {% else %}
            <span>{{ shop.name }}</span>
          {% endif %}
        </a>
        {%- if section.settings.menu != blank -%}
          <div class="hidden sm:block ml-8 space-x-8">
            {%- for link in section.settings.menu.links -%}
              <a href="{{ link.url }}" class="text-base hover:text-sky-500">{{ link.title | escape }}</a>
            {%- endfor -%}
          </div>
        {%- endif -%}
        <div data-slot="site-header-cart-icon" class="flex-1 text-right">
          <button onclick="document.querySelector('shopify-cart').openDrawer()">Cart
            {% unless cart.item_count == 0 %}
              <span>({{ cart.item_count }})</span>
            {% endunless %}
          </button>
        </div>
      </div>
    </div>
    <div>
      {%- if section.settings.menu != blank -%}
        <div class="p-6 pt-0 space-y-6 sm:hidden">
          {%- for link in section.settings.menu.links -%}
            <div>
              <a href="{{ link.url }}" class="text-base hover:text-sky-500">{{ link.title | escape }}</a>
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </nav>
</site-header>

{% schema %}
{
  "name": "Site Header",
  "settings": [
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}
