{% liquid
  if section.settings.logo
    assign logo_class = 'h-[35px]'
    assign logo_height = 35
    assign logo_width = logo_height | times: section.settings.logo.aspect_ratio | round
  endif
%}

<site-header class="block border-b" data-module="site-header">
  <a href="#content" class="sr-only focus:not-sr-only">
    Skip to content
  </a>
  {%- if section.blocks != blank -%}
    {% render 'announcement-bar' %}
  {%- endif -%}
  <nav class="max-w-7xl mx-auto" aria-label="Top">
    <div class="w-full px-responsive py-4 sm:py-8">
      <div class="flex">
        <div>
          <button>Search</button>
        </div>
        <div class="flex-1 text-center">
          <a href="/">
            <span>{{ shop.name }}</span>
          </a>
        </div>
        <div data-slot="site-header-cart-icon">
          <span>
            Account
          </span>
          <a href="{{ routes.cart_url }}" onclick="document.querySelector('shopify-cart').openDrawer(event)">Cart
            {% unless cart.item_count == 0 %}
              <span>({{ cart.item_count }})</span>
            {% endunless %}
          </a>
        </div>
      </div>
      <div class="flex w-full">
        {%- if section.settings.menu != blank -%}
          <div class="space-x-8 mx-auto">
            {%- for link in section.settings.menu.links -%}
              <a href="{{ link.url }}" class="text-base hover:text-sky-500">{{ link.title | escape }}</a>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </nav>
</site-header>

{% schema %}
{
  "name": "Site Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "collection_list",
      "id": "collections",
      "label": "Collections",
      "limit": 5
    },
    {
      "type": "richtext",
      "id": "collections-cta",
      "label": "Collections CTA"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}
