{%
  assign color_swatch_class = 'aspect-1 text-center font-bold flex flex-col justify-center'
%}
<div class="max-w-7xl mx-auto px-responsive">
  <h2 class="h6 underline my-6">Typography</h2>
  <div class="wysiwyg">
    <h1>Heading 1 (H1)</h1>
    <h2>Heading 2 (H2)</h2>
    <h3>Heading 3 (H3)</h3>
    <h4>Heading 4 (H4)</h4>
    <h5>Heading 5 (H5)</h5>
    <h6>Heading 6 (H6)</h6>
    <p>Paragraph text (P1)</p>
    <p><small>Small paragraph text (P2)</small></p>
  </div>
  <h2 class="h6 underline my-6">Colors</h2>
  <div class="grid grid-cols-4">
    <div class="{{ color_swatch_class }} bg-blue">
      <p>Blue</p>
    </div>
    <div class="{{ color_swatch_class }} bg-light-blue">
      <p>Light Blue</p>
    </div>
    <div class="{{ color_swatch_class }} bg-orange">
      <p>Orange</p>
    </div>
    <div class="{{ color_swatch_class }} bg-cream">
      <p>Cream</p>
    </div>
    <div class="{{ color_swatch_class }} bg-charcoal">
      <p>Charcoal</p>
    </div>
    <div class="{{ color_swatch_class }} bg-light-grey">
      <p>Light Grey</p>
    </div>
    <div class="{{ color_swatch_class }} bg-dove">
      <p>Dove</p>
    </div>
    <div class="{{ color_swatch_class }} bg-offwhite">
      <p>Offwhite</p>
    </div>
  </div>
  <h2 class="h6 underline my-6">Buttons</h2>
  <div class="inline-grid grid-cols-3 space-x-4">
    <button class="btn-dark">Dark Button</button>
    <button class="btn-light">Light Button</button>
    <button class="btn-alt">Alt Button</button>
  </div>
  <h2 class="h6 underline my-6">Dropdown</h2>
  <div>
    {% capture select_options %}
      <option value="" selected disabled>Dropdown</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    {% endcapture %}
    {% render 'select-input', id: 'select-demo', name: 'select-demo', label: 'Label', options: select_options %}
  </div>
  <h2 class="h6 underline my-6">Input</h2>
  <div>
    {% render 'text-input', id: 'text-demo', name: 'text-demo', label: 'Label', placeholder: 'Input Text' %}
  </div>
  <h2 class="h6 underline my-6">Quantity</h2>
  <div>
    {% render 'quantity-input', id: 'quantity-demo', name: 'quantity-demo', label: 'Quantity', class: 'block' %}
  </div>
  <h2 class="h6 underline my-6">Checkbox</h2>
  <div>
    {% render 'checkbox-input', id: 'checkbox-demo', name: 'checkbox-demo', label: 'Label' %}
  </div>
  <h2 class="h6 underline my-6">Radio Button</h2>
  <div>
    {% render 'radio-input', id: 'radio-demo-1', name: 'radio-demo', value: 1, label: 'Label 1' %}
    {% render 'radio-input', id: 'radio-demo-2', name: 'radio-demo', value: 2, label: 'Label 2' %}
  </div>
  <h2 class="h6 underline my-6">Pagination</h2>
  <div>
    {% comment %}
      Example: {{ paginate | default_pagination: next: '>', previous: '<' }}
    {% endcomment %}
    <span class="prev"><a href="#" title="">&lt;</a></span> <span class="page"><a href="#" title="">1</a></span> <span class="page current">2</span> <span class="page"><a href="#" title="">3</a></span> <span class="page"><a href="#" title="">4</a></span> <span class="deco">…</span> <span class="page"><a href="#" title="">10</a></span> <span class="next"><a href="#" title="">&gt;</a></span>
  </div>
  <h2 class="h6 underline my-6">Indicators</h2>
  <div>
    {% render 'slider-dots', slides_count: 4 %}
  </div>
</div>
