<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">

  <title>{{ shop.name }}</title>

  <meta name="description" content="">

  {%- liquid
    render 'vite-tag' with 'theme.css', preload_stylesheet: true
    render 'vite-tag' with 'theme.js'
  -%}

  {{ content_for_header }}
</head>

<body>
  {{ content_for_layout }}
</body>
</html>
